{% extends "MainLayout.html" %}
{% block content %}

<div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Device Status: <span class="myid">{{ stat }}</span></h2>
                            <div class="form-group">
                                <label for="devoem"><i class="zmdi zmdi-android-alt material-icons-name"></i></label>
                                <h5 style="padding-left: 20px;padding-top: 9px">OEM: {{ oem }}</h5>
                            </div>
                            <div class="form-group">
                                <label for="devname"><i class="zmdi zmdi-smartphone material-icons-name"></i></label>
                                <h5 style="padding-left: 20px;padding-top: 9px">Name/Model: {{ name }}</h5>
                            </div>
                            <div class="form-group">
                                <label for="devser"><i class="zmdi zmdi-memory material-icons-name"></i></label>
                                <h5 style="padding-left: 20px;padding-top: 9px">Serial Number: {{ ser }}</h5>
                            </div>
                            <div class="form-group">
                                <label for="devcolor"><i class="zmdi zmdi-invert-colors material-icons-name"></i></label>
                                <h5 style="padding-left: 20px;padding-top: 9px">Colour: {{ color }}</h5>
                            </div>
                            <div class="form-group">
                                <label for="devdesc"><i class="zmdi zmdi-comment-alt-text material-icons-name"></i></label>
                            <h5 style="padding-left: 20px;padding-top: 9px">Description: {{ des }}</h5>
                            </div>
                            <div class="form-group">
                                <label for="devdate"><i class="zmdi zmdi-calendar-check material-icons-name"></i></label>
                            <h5 style="padding-left: 20px;padding-top: 9px">Date Registered: {{ date }}</h5>
                            </div>
                            <div class="form-group">
                                <label for="devtime"><i class="zmdi zmdi-time material-icons-name"></i></label>
                            <h5 style="padding-left: 20px;padding-top: 9px">Time Registered: {{ time }}</h5>
                            </div>
                            <div class="form-group">
                                <label for="devip"><i class="zmdi zmdi-gps-dot material-icons-name"></i></label>
                            <h5 style="padding-left: 20px;padding-top: 9px">IP Address: {{ ip4 }}</h5>
                            </div>

                    </div>
                    <div class="signup-image">
                        <img src="static/images/add2.png" alt="sign up image" style="padding-top: 0px;">
                    </div>
                </div>
{% endblock %}

